// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/*#region RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET */

/*#region GENERICS */

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}

a:hover {
    cursor: pointer;
    text-decoration: #0282f9 !important;
    color: #0282f9;
}

/*#endregion GENERICS */

/*#region HEADER */

header {

    nav ul {
        margin: 0;
    }

    li {
    padding: 2rem 0;
    border-bottom: 4px solid transparent; 
    transition: border-color 0.2s ease;

    &:hover {
        border-bottom: 4px solid #0282f9;
    }
}

    li a {
        font-weight: 600;
        color: rgb(66, 69, 70);
        text-decoration: none;
    }

    .active {
        a {
            color: #0282f9;
        }
    }

    .logo:hover {
        scale: 1.05;
        cursor: pointer;
    }

}

/* #endregion */

/*#region JUMBOTRON */

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 350px;
}

/* #endregion JUMBOTRON */


/*#region SECTION CARD */

section {
    width: 100%;

    h3 {
        font-size: 1rem;
    }
}

.card:hover {
    scale: 1.05;
    cursor: pointer;
    opacity: 0.7;
}

.card:hover h3 {
    font-size: 1.1rem;
}

.card-img-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
        border-radius: 0;
    }
}

.btn {
    width: 200px;
    background-color: #0282f9;
    color: white;
    font-weight: bold;
    border-radius: 0;

    &:hover {
        background-color: #55a3ec;
        scale: 1.05;
        font-size: 1.02rem;
    }
}

.title-card-container {
    position: absolute;
    top: -2rem;
    width: 300px;
    color: white;
    background-color: #0282f9;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

/* #endregion SECTION CARD  */